celeba-dataset
*.o
*.zip
*.dat
*.swp
*.lay
*.proj

labhifreq
grayhifreq
labshrink
labtogray
graytolab
ppmtolab
labtoppm
recongray
reconlab

catlay
makelay
maketop
makemap
wireup

libmakemore.a

makemore
testmore
